@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    height: ;
}

body {
    background-image: linear-gradient(to right, #CEF09D, #A0CD60);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #1f080260;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #1C646D;
    text-align: center;
    text-shadow: 1px 1px 2px #0d2e3397;
}

h2 {
    color: #38184C;
}

p {
    text-align: justify;
}

