@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Passion+One & family= Sriracha & display=swap');

body {
    background-color: white;
    margin: auto;
}

header {
background-color: black;
margin: auto;
height: 130px;
padding: 10px;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Passion One', cursiva;
    font-size: 5mm;
}

header > p {
    color: antiquewhite;
    text-align: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    
}

a:hover {
    color: darkgoldenrod;
}


section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    margin: auto;
    line-height: 2em;
    font-family: 'Sriracha', cursive;
    font-style: italic;
    font-size: 20px;
}

section.normal {
background-color: white;
color: black;
}

section.imagem > p {
    color: white;
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.29);
    text-shadow: 1px 1px 0px black;
}

#imagem1 {
background-image: url(imagens/background001.jpg);
background-repeat: no-repeat;
background-position: right center;
background-size: cover;
background-attachment: fixed;
}

#imagem2 {
background-image: url(imagens/background002.jpg);
background-repeat: no-repeat;
background-position: right center;
background-size: cover;
background-attachment: fixed;
}

footer {
    color: white;
    background-color: black;
    margin: auto;
    padding: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}